<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head"></head>
<body>

<div id="wrapper">

	<nav th:replace="admin/layout :: sidebar"></nav>

	<div id="page-wrapper">
	    <div class="row">
	        <div class="col-sm-12">
	            <h3 class="page-header">Quản lý sản phẩm</h3>
	        </div>
	        <!-- /.col-sm-12 -->
	    </div>
	    <!-- /.row -->
	
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    Form sản phẩm
	                </div>
	                <!-- /.panel-heading -->
	                <div class="panel-body">
	                    <form th:action="@{/admin/product/save}" th:object="${product}" method="POST">
	                    	<input type="hidden" th:field="*{id}" />
	                    	<input type="hidden" th:field="*{image}" />
	                        <div class="form-group">
	                            <label>Tên sản phẩm <span class="required">*</span></label>
	                            <input type="text" class="form-control" th:field="*{name}" th:errorclass="field-error" /> 
						        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
	                        </div>
	                        <div class="form-group">
                                <label>Mô tả sản phẩm <span class="required">*</span></label>
                                <textarea th:field="*{description}" th:errorclass="field-error" 
                                	id="description" class="form-control" rows="8"></textarea>
                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></span>
                            </div>
                            <div class="form-group">
                                <label>Danh mục</label>
                                <select th:field="*{category}" class="form-control">
                                    <option th:each="category : ${categories}" 
                                    	th:value="${category.id}" th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Giá bán (VNĐ) <span class="required">*</span></label>
                                <input type="number" th:field="*{price}" th:errorclass="field-error" 
                                	class="form-control" min="0" max="1000000" />
                                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></span>
                            </div>
	                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu</button>
	                    </form>
	                </div>
	                <!-- /.panel-body -->
	            </div>
	            <!-- /.panel -->
	        </div>
	        <!-- /.col-sm-12 -->
	    </div>
	    <!-- /.row -->
	</div>
	<!-- /#page-wrapper -->

</div>

</body>
</html>